@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  height: 100vh;
  color: white;
  font-family: Hammer;
}

.hammer-font{
  font-family: Hammer;
}